body {
    top: 0px;
    left: -64.5px;
    height: 1941px;
    background: transparent url('../public/img/background.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Splash {
    position: absolute;
    top: 0px;
    left: -64.5px;
    height: 1941px;
    background: transparent url('../public/img/background1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Splash div {
    position: absolute;
    top: 464px;
    left: 243px;
    width: 1294px;
    height: 284px;
    background: transparent url("../public/img/CREATORSIDE.png") 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Header {
    position: absolute;
    top: 0px;
    left: -1px;
    width: 1921px;
    height: 323px;
    background: transparent url("../public/img/header.png") 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Line {
    position: absolute;
    top: 1511px;
    left: -1px;
    width: 1914px;
    height: 0px;
    background: transparent url('../public/img/line-footer.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

.About {
    position: absolute;
    top: 1604px;
    left: 138px;
    width: 310px;
    height: 229px;
    background: transparent url('../public/img/TERMSCONDITIONSPRIVACYPOLICY.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Copy {
    position: absolute;
    top: 1879px;
    left: 138px;
    width: 912px;
    height: 62px;
    background: transparent url('../public/img/AllRightsReserved.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Twit {
    position: absolute;
    top: 1604px;
    left: 513px;
    width: 270px;
    height: 241px;
    background: transparent url('../public/img/TWITTERDISCORD.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Team {
    position: absolute;
    top: 1604px;
    left: 835px;
    width: 387px;
    height: 129px;
    background: transparent url('../public/img/TERMSCONDITIONSPRIVACYPOLICY.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Clock {
    position: absolute;
    top: 1700px;
    left: 1542px;
    width: 61px;
    height: 73px;
    background: transparent url('../public/img/Group197.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}


.Avatar {
    position: absolute;
    top: 373px;
    left: 100px;
    width: 94px;
    height: 94px;
    background: transparent url('../public/img/avatar.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Avatar_name {
    position: absolute;
    top: 400px;
    left: 226px;
    width: 222px;
    height: 16px;
    background: transparent url('../public/img/LF-HotSince82.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Avatar_stream {
    position: absolute;
    top: 425px;
    left: 226px;
    width: 290px;
    height: 54px;
    background: transparent url('../public/img/Streamed9919-minutes.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Icon1 {
    position: absolute;
    top: 521px;
    left: 109px;
    width: 9px;
    height: 9px;
    background: transparent url('../public/img/lf-icon.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Icon3 {
    /* Layout Properties */
    position: absolute;
        top: 514px;
        left: 105px;
        width: 23px;
        height: 20px;
        /* UI Properties */
        background: transparent url('../public/img/Path425.png') 0% 0% no-repeat padding-box;
        opacity: 1;
}

.Icon2 {
    position: absolute;
    top: 514px;
    left: 273px;
    width: 17px;
    height: 19px;
    background: transparent url('../public/img/noun-copy-4651804.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Address {
    position: absolute;
    top: 513px;
    left: 135px;
    width: 199px;
    height: 36px;
    background: transparent url('../public/img/0x224B88F8767832054eE67872fA2fEeE936618a59.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Icon4 {
    position: absolute;
    top: 513px;
    left: 135px;
    width: 199px;
    height: 36px;
    background: transparent url('../public/img/Rectangle14.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.SessionGroup {
    position: absolute;
    top: 558px;
    left: 100px;
    width: 212px;
    height: 90px;
    background: transparent url('../public/img/Group206.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Center .Text {
    position: absolute;
    top: 450px;
    left: 798px;
    width: 603px;
    height: 67px;
    background: transparent url('../public/img/YOURGATEWAYTOTHEMASSES.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Center .Logo {
    /* Layout Properties */
    position: absolute;
        top: 576px;
        left: 919px;
        width: 376px;
        height: 270px;
        /* UI Properties */
        background: transparent url('../public/img/Group201.png') 0% 0% no-repeat padding-box;
        opacity: 1;
}

.Center .CreateBtn {
    position: absolute;
    /* Layout Properties */
        top: 905px;
        left: 888px;
        width: 458px;
        height: 47px;
        /* UI Properties */
        background: transparent url('../public/img/Group10.png') 0% 0% no-repeat padding-box;
        opacity: 1;
}

.Center .BtnText {
    position: absolute;
    top: 917px;
    left: 915px;
    width: 384px;
    height: 23px;
    background: transparent url('../public/img/CREATELFSESSION.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Center .Arrow {
    /* Layout Properties */
    position: absolute;
    top: 916px;
    left: 1282px;
    width: 34px;
    height: 25px;
       /* UI Properties */
    background: transparent url('../public/img/Path269.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Session .Logo {
    position: absolute;
    top: 440px;
        left: 594px;
        width: 92px;
        height: 68px;
        background: transparent url('../public/img/Group244.png') 0% 0% no-repeat padding-box;
        opacity: 1;
}

.Session .Text {
    position: absolute;
    top: 461px;
        left: 703px;
        width: 384px;
        height: 23px;
        background: transparent url('../public/img/CREATELFSESSION1.png') 0% 0% no-repeat padding-box;
        opacity: 1;
}

.Session .SName {
    position: absolute;
    top: 549px;
        left: 617px;
        width: 290px;
        height: 27px;
        background: transparent url('../public/img/SessionName.png') 0% 0% no-repeat padding-box;
        opacity: 1;
}

.Session #name {
    position: absolute;
    top: 585px;
        left: 609px;
        width: 754px;
        height: 44px;
        opacity: 1;
}

.Session .SDesc {
    position: absolute;
top: 669px;
    left: 617px;
    width: 738px;
    height: 27px;
    background: transparent url('../public/img/SessionDescription.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Session #desc {
    position: absolute;
top: 705px;
    left: 609px;
    width: 754px;
    height: 44px;
    opacity: 1;
}

.Session .Fee {
    position: absolute;
    top: 789px;
        left: 617px;
        width: 738px;
        height: 27px;
        background: transparent url('../public/img/GatePassFees.png') 0% 0% no-repeat padding-box;
        opacity: 1;
}

.Session #fee {
    position: absolute;
    top: 825px;
        left: 609px;
        width: 218px;
        height: 44px;
        opacity: 1;
}

.Session .Icon {

}

.Session .Min {
    position: absolute;
    top: 825px;
        left: 609px;
        width: 218px;
        height: 44px;
        background: transparent url('../public/img/asminimum.png') 0% 0% no-repeat padding-box;
        opacity: 1;
}

.Session .CreateBtn {
    position: absolute;
top: 926px;
    left: 606px;
    width: 240px;
    height: 47px;
    background: transparent url('../public/img/Group246.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Session .BtnText {

}

.Session .Arrow {

}

.Session .UnderText {
    position: absolute;
    top: 1005px;
        left: 606px;
        width: 482px;
        height: 16px;
        background: transparent url('../public/img/Group247.png') 0% 0% no-repeat padding-box;
        opacity: 1;
}

.Modal {
    /* Layout Properties */
    position: absolute;
        top: 512px;
        left: 704px;
        width: 531px;
        height: 263px;
        /* UI Properties */
        background: transparent url('../public/img/Rectangle17.png') 0% 0% no-repeat padding-box;
        opacity: 1;
}

.Modal .Text {
    position: absolute;
    top: 546px;
        left: 739px;
        width: 466px;
        height: 89px;
        background: transparent url('../public/img/hangthat.png') 0% 0% no-repeat padding-box;
        opacity: 1;
}

.Modal .Loading {
    position: absolute;
    top: 653px;
        left: 941px;
        width: 57px;
        height: 58px;
        opacity: 1;
}

.Modal .Under {
    position:absolute;
    top: 744px;
        left: 739px;
        width: 12px;
        height: 12px;
        background: transparent url('../public/img/followinstruction.png') 0% 0% no-repeat padding-box;
        opacity: 1;
}